.materialyou-button {
  @include materialyou-typography(label, large);
  padding: 0.625rem 1.25rem;
  border-radius: 1.25rem;
  border: none;
  text-align: center;
  box-shadow: none;
  z-index: 0;
  cursor: pointer;
  min-width: 3rem;
  position: relative;
  &.materialyou-submit-button {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
  }
  &.materialyou-flat-button {
    background: none;
    color: var(--md-sys-color-primary);
    &:hover {
      background-color: var(--md-sys-color-primary-container);
    }
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  &.materialyou-icon-button {
    min-width: 0;
    width: 24px;
    height: 24px;
  }
  p {
    &.badge {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0 0.125rem;
      border-radius: 0.5rem;
      z-index: 8;
      background-color: var(--md-sys-color-primary-container);
      color: var(--md-sys-color-on-primary-container);
    }
  }
}