@mixin materialyou-menu-open {
  z-index: 32;
  background-color: var(--md-sys-color-surface);
  min-width: 7rem;
  max-width: 17.5rem;
  margin: 0;
  border: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &.materialyou-menu-open {
    display: block;
  }
  li {
    &.menu-item {
      margin: 0;
      padding: 0;
      a {
        display: block;
        color: var(--mad-sys-color-on-surface);
        @include materialyou-typography(label, large);
        &.is-active {
          color: var(--md-sys-color-primary);
        }
        padding: 0.875rem 0.75rem 0.875rem 0.75rem;
      }
    }
  }
}

nav {
  &.materialyou-menu {
    ul {
      &.menu {
        display: none;
        clear: both;
        @include materialyou-handset-layout {
          @include materialyou-menu-open
        }
      }
    }
  }
  &.materialyou-mobile-menu {
    @include materialyou-desktop-layout {
      ul {
        &.menu {
          display: block;
        }
      }
      div {
        &.materialyou-menu-button {
          display: none;
        }
      }
    }
  }
}