@mixin materialyou-top-app-bar--small {
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 0;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  @include materialyou-typography(title, large);
  transition: background-color 250ms;
  div {
    &.region {
      padding-top: 1.125rem;
      padding-bottom: 1.125rem;
    }
  }
  @include materialyou-phone-landscape-layout {
    height: 3.5rem;
    div {
      &.region {
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
      }
    }
  }
}

body {
  div {
    &.materialyou-layout-container {
      header {
        &.materialyou-top-app-bar {
          border: 1px dashed #d00;
          @include materialyou-top-app-bar--small;
        }
      }
    }
  }
  &.document-scrolled {
    div {
      &.materialyou-layout-container {
        header {
          &.materialyou-top-app-bar {
            z-index: 32;
            background-color: var(--md-sys-color-secondary-container);
            color: var(--md-sys-color-on-secondary-container);
            transition: background-color 250ms;
          }
        }
      }
    }
  }
}