@mixin materialyou-phone-layout {
  @media (max-width: 599px) {
    @content
  }
}

@mixin materialyou-phone-landscape-layout {
  @media (max-height: 599px) and (orientation: landscape) {
    @content
  }
}

@mixin materialyou-tablet-layout {
  @media (min-width: 600px) and (max-width: 839px) {
    @content
  }
  @media (min-height: 600px) and (orientation: landscape) and (max-width: 839px) {
    @content
  }
}

@mixin materialyou-desktop-layout {
  @media (min-width: 840px) and (min-height: 600px) {
    @content
  }
}

@mixin materialyou-large-layout {
  @media (min-width: 1440px) {
    @content
  }
}

@mixin materialyou-layout-container {
  div {
    &.materialyou-layout-container {
      @content
    }
  }
}
@mixin materialyou-layout-top-app-bar {
  @include materialyou-layout-container {
    header {
      &.materialyou-top-app-bar {
        @content
      }
    }
  }
}

html {
  body {
    margin: 0;
    padding: 0;
    border: 0;
    @include materialyou-layout-container {
      padding-top: 4.5rem;
      @include materialyou-desktop-layout {
        padding-top: 5rem;
      }
    }
    @include materialyou-layout-top-app-bar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    &.toolbar-vertical {
      @include materialyou-layout-container {
        padding-top: 0.5rem;
      }
      @include materialyou-layout-top-app-bar {
        position: relative;
        top: -0.5rem;
      }
      &.document-scrolled-beyond-bar {
        @include materialyou-layout-container {
          padding-top: 4.5rem;
        }
        @include materialyou-layout-top-app-bar {
          position: fixed;
        }
      }
    }
    &.toolbar-fixed {
      @include materialyou-layout-container {
        padding-top: 5rem;
      }
      @include materialyou-layout-top-app-bar {
        position: fixed;
        top: 39px;
      }
      &.toolbar-tray-open {
        &.toolbar-vertical {
          @include materialyou-layout-top-app-bar {
            margin-left: 15rem;
          }
        }
        &.toolbar-horizontal {
          @include materialyou-layout-top-app-bar {
            top: 79px;
          }
        }
      }
    }
  }
}