<div class="layout-container materialyou-layout-container">
  
  <header role="banner" {{ header_attributes.addClass('materialyou-top-app-bar') }}>
    {{ page.topappbar }}
  </header>
  
  <main role="main" {{ content_attributes }}>
    {{ page.content }}
  </main>
  
</div>